$lt-grey: #999999;
$md-grey: #666666;
$dk-grey: #333333;

$black: #171318;
$white: #FAFBFB;

$turquoise: #40CFBA;
$ruby: #FF5F8B;
$gold: #CCAC5C;

/* Fonts */

$paragraph: 'Work Sans', sans-serif;
$headings: 'Advent Pro', sans-serif;

/* Layout */

$padding: 1em;
$padding-m: $padding * 2;
$padding-l: $padding * 3;