@import "normalize";
@import "../bower_components/susy/sass/susy";

*, html, body {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

/* Partials */
@import "susy";
@import "variables";
@import "mixins";
@import "typography";
@import "layout";
@import "style";